.navbar-item {
    @apply btn bg-inherit rounded-none border-none hover:bg-slate-700 text-lg text-white
}

.filter-input {
    @apply input input-bordered input-sm
}

.card-spacing {
    transition: padding 0.2s;
}

.card-spacing:hover {
    @apply p-1
}

.form-input {
    @apply input input-bordered flex items-center gap-2 justify-between
}

.form-input-file {
    @apply flex flex-col gap-2
}

.timer {
    @apply flex gap-1 p-2 bg-neutral rounded-box text-neutral-content items-center
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.noHover{
    background-color: unset !important;
    color: unset !important;
    border: unset !important;
}